import { triviality } from '../../src';
import { HalloModule } from './HalloModule';

triviality()
  .add(HalloModule)
  .build()
  .then((container) => {
    const service = container.halloService('John');
    service.speak();
  });
