.idea
node_modules/
yarn-error.log
packages/*/reports/
packages/*/build/
packages/*/example/**/*.md
example/*.md
packages/*/**/*.d.ts
packages/*/**/*.js
!jest.config.js
packages/*/**/*.js.map
.jscpd
lerna-debug.log
packages/*/.stryker-tmp/
.DS_Store
coverage/
packages/.DS_Store
packages/core/.DS_Store
.stryker-tmp
tsconfig.tsbuildinfo
